---
title: Blog
layout: default
---

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">


						<!-- Blog -->
							<section>
								<header class="major">
									<h2>The Blog</h2>
								</header>
								{% for post in paginator.posts %}
											<div class="container-fluid">
													<div class="excerpt-head"><h2><a href="{{post.url}}">{{ post.title }}</a></h2></div>
													<div class="excerpt">{{ post.excerpt }}
														<a href="{{ site.baseurl }}{{ post.url }}">Continue reading "{{post.title}}"</a>
													</div>
											</div>
								{% endfor %}

								<div class="blognav">
								{% if paginator.previous_page %}
									{% if paginator.page == 2 %}
										<a class="older-posts" href="{{ site.baseurl }}/blog/">&larr; Newer posts </a>
									{% else %}
										<a class="older-posts" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}/index.html">&larr; Newer posts</a>
									{% endif %}
								{% endif %}
								{% if paginator.next_page %}

									<a class="newer-posts" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Older posts &rarr;</a>
								{% endif %}
							</div>
							</section>

		</div>
	</section>
